version: "3.8"

services:
  backend:
    build: ./backend
    container_name: ai_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:6
    container_name: ai_mongo
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
